@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  background-color: #0B0F17;
  color: #F8FAFC;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
}
